html,
body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

.navbar
  display: grid
  grid-template-rows: 100%
  height: 10%
  background-color: #008ba3

.wrapper
  display: grid
  grid-template-columns: 1fr 6fr
  height: 90%

.menu
  background-color: #00bcd4

.content
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-row-gap: 1em

.item  
  background-color: white
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 70%
  width: 50%
  align-self: center
  justify-self: center


